.env
eng_soft

vector_db

urls.json

gemini_credentials.json
generate_token.py 

ufc_ask/application/__pycache__
ufc_ask/infrastructure/context/__pycache__
ufc_ask/infrastructure/llm/__pycache__
ufc_ask/infrastructure/vector/__pycache__
ufc_ask/interface/__pycache__
ufc_ask/interface/api/__pycache__